html {
	background-color: rgb(26,26,28);
	color: #1f1;
	margin: 0px;
	border: 0px;
	height: 100%;
}
h1 {
	text-align: center;
	margin: 0px;
	font-size: 30px;
	font-family: monospace;
}
h2 {
	text-align: left;
	margin: 0px;
	font-size: 30px;
	font-family: monospace;
}
marquee {
	text-align: center;
	margin: 0px;
	font-size: 30px;
	font-family: monospace;
}
table, th, td {
	border: 0px;
	margin: 0px;
}
img {
	max-width: 270px;
	border: #1F1;
	border-style: double;
	border-width: 5px;
}
audio {
	height: 30px;
	width: 270px;
}
button {
	height: 30px;
	width: 90px;
	font-family: monospace;
}
/* CSS stands for:
C - trial
S - and
S - error
*/
