* {
    border: 0px;
    padding: 0px;
    margin: 0px;
    cursor: url(media/Cursor.png) 10 5, pointer; /* make pointer change direction with js tomfoolery(?) */
}

/* Page Background */

body {
    background-color: #000;
    background-image: linear-gradient(#222 1.2px, transparent 1.2px), linear-gradient(to right, #222 1.2px, #000 1.2px);
    background-size: 24px 24px;
}
#background {
    width: 1200px;
    height: 675px;
    margin: auto;
    margin-top: 20px;
    background-image: linear-gradient(to right, #fff0, #fff, #fff0),url(media/MenuStripes.png);
    /* background-image: url(media/ScaleReference.jpeg); */
    /* background-size: contain; */
}
#content {
    position: absolute;
}

/* Channels Overall */

.channel {
    width: 250px;
    height: 132px;
    position: absolute;
    border: 4px solid #aaa;
    border-radius: 22px;
    transition: border-color 0.15s ease-in-out;
}
.channel:hover {
    border-color: rgb(0, 183, 255);
}

/* Channels */

#channel1 {
    background-image: url(media/ChannelThumbnails/Channel1.png); /* Disc Channel */
    top: 57px;
    left: 77px;
}
#channel2 {
    background-image: url(media/ChannelThumbnails/Channel2.png); /* Music Channel */
    top: 57px;
    left: 338px;
}
#channel3 {
    background-image: url(media/ChannelThumbnails/Channel3.png); /* Photos Channel */ 
    top: 57px;
    left: 600px;
}
#channel4 {
    background-image: url(media/ChannelThumbnails/Channel4.png); /* Homebrew Channel */
    top: 57px;
    left: 862px;
}
#channel5 {
    background-image: url(media/ChannelThumbnails/Channel5.png);
    top: 200px;
    left: 77px;
}
#channel6 {
    background-image: url(media/ChannelThumbnails/Channel6.png);
    top: 200px;
    left: 338px;
}
#channel7 {
    background-image: url(media/ChannelThumbnails/Channel7.png);
    top: 200px;
    left: 600px;
}
#channel8 {
    background-image: url(media/ChannelThumbnails/Channel8.png);
    top: 200px;
    left: 862px;
}
#channel9 {
    background-image: url(media/ChannelThumbnails/Channel9.png);
    top: 344px;
    left: 77px;
}
#channel10 {
    background-image: url(media/ChannelThumbnails/Channel10.png);
    top: 344px;
    left: 338px;
}
#channel11 {
    background-image: url(media/ChannelThumbnails/Channel11.png);
    top: 344px;
    left: 600px;
}
#channel12 {
    background-image: url(media/ChannelThumbnails/Channel12.png);
    top: 344px;
    left: 862px;
}

/* Under the channels */

h1 {
    text-align: center;
    color: rgb(79 168 193);
    font-family: 'Inter', sans-serif;
    position: absolute;
    top: 499px;
    left: 539px;
    font-size: 39px;
}
.button {
    width: 112px;
    height: 112px;
    top: 516px;
    position:absolute;
    border: 4px solid rgb(0, 183, 255);
    border-radius: 50%;
    transition: border-color 0.15s ease-in-out;
    background-color: #aaa;
}
.button:hover {
    border-color: rgb(0, 183, 255);
}
#buttonLeft {
    left: 31px;
}
#buttonRight {
    left: 1046px;
}